body {
	margin: 0px;
	background-image: none;
	position: static;
	left: auto;
	width: auto;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

#u0 {
	position: absolute;
	left: 20px;
	top: 10px;
	width: 621px;
	height: 791px;
	overflow: hidden;
}

#u0_state0 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 621px;
	height: 791px;
	-ms-overflow-x: hidden;
	overflow-x: hidden;
	-ms-overflow-y: hidden;
	overflow-y: hidden;
}

#u1 {
	position: absolute;
	left: 4px;
	top: 1px;
	width: 116px;
	height: 27px;
}

#u1_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117px;
	height: 28px;
}

#u2 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 112px;
	word-wrap: break-word;
}

#u3 {
	position: absolute;
	left: 130px;
	top: 1px;
	width: 116px;
	height: 27px;
}

#u3_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117px;
	height: 28px;
}

#u4 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 112px;
	word-wrap: break-word;
}

#u5 {
	position: absolute;
	left: 120px;
	top: 23px;
	width: 430px;
	height: 10px;
}

#u5_start {
	position: absolute;
	left: -4px;
	top: -5px;
	width: 14px;
	height: 20px;
}

#u5_end {
	position: absolute;
	left: 421px;
	top: -5px;
	width: 14px;
	height: 20px;
}

#u5_line {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 430px;
	height: 1px;
}

#u6 {
	position: absolute;
	left: 188px;
	top: 134px;
	width: 32px;
	height: 16px;
}

#u6_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 33px;
	height: 17px;
}

#u7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	visibility: hidden;
	white-space: nowrap;
}

#u8 {
	position: absolute;
	left: 20px;
	top: 54px;
	width: 169px;
	height: 16px;
}

#u8_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u10 {
	position: absolute;
	left: 118px;
	top: 49px;
	width: 347px;
	height: 25px;
}

#u10_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u10_input {
	font-family: 'Applied Font';
}

#u11 {
	position: absolute;
	left: 20px;
	top: 89px;
	width: 169px;
	height: 16px;
}

#u11_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u13 {
	position: absolute;
	left: 118px;
	top: 84px;
	width: 347px;
	height: 25px;
}

#u13_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u13_input {
	font-family: 'Applied Font';
}

#u14 {
	position: absolute;
	left: 20px;
	top: 181px;
	width: 150px;
	height: 16px;
}

#u14_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 151px;
	height: 17px;
}

#u15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	word-wrap: break-word;
}

#u16 {
	position: absolute;
	left: 158px;
	top: 115px;
	width: 307px;
	height: 66px;
}

#u16_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 307px;
	height: 66px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u16_input {
	font-family: 'Applied Font';
}

#u17 {
	position: absolute;
	left: 158px;
	top: 206px;
	width: 307px;
	height: 66px;
}

#u17_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 307px;
	height: 66px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u17_input {
	font-family: 'Applied Font';
}

#u18 {
	position: absolute;
	left: 102px;
	top: 140px;
	width: 150px;
	height: 16px;
}

#u18_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 151px;
	height: 17px;
}

#u19 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	word-wrap: break-word;
}

#u20 {
	position: absolute;
	left: 102px;
	top: 231px;
	width: 150px;
	height: 16px;
}

#u20_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 151px;
	height: 17px;
}

#u21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	word-wrap: break-word;
}

#u22 {
	position: absolute;
	left: 20px;
	top: 290px;
	width: 169px;
	height: 16px;
}

#u22_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u23 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u24 {
	position: absolute;
	left: 118px;
	top: 285px;
	width: 347px;
	height: 25px;
}

#u24_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u24_input {
	font-family: 'Applied Font';
}

#u25 {
	position: absolute;
	left: 20px;
	top: 325px;
	width: 169px;
	height: 16px;
}

#u25_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u26 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u27 {
	position: absolute;
	left: 118px;
	top: 320px;
	width: 347px;
	height: 25px;
}

#u27_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u27_input {
	font-family: 'Applied Font';
}

#u28 {
	position: absolute;
	left: 20px;
	top: 350px;
	width: 169px;
	height: 16px;
}

#u28_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u30 {
	position: absolute;
	left: 118px;
	top: 345px;
	width: 347px;
	height: 25px;
}

#u30_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u30_input {
	font-family: 'Applied Font';
}

#u31 {
	position: absolute;
	left: 20px;
	top: 385px;
	width: 169px;
	height: 16px;
}

#u31_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u32 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u33 {
	position: absolute;
	left: 118px;
	top: 380px;
	width: 347px;
	height: 25px;
}

#u33_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u33_input {
	font-family: 'Applied Font';
}

#u34 {
	position: absolute;
	left: 20px;
	top: 472px;
	width: 169px;
	height: 16px;
}

#u34_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u35 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u36 {
	position: absolute;
	left: 118px;
	top: 467px;
	width: 173px;
	height: 25px;
}

#u36_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 173px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u36_input {
	font-family: 'Applied Font';
}

#u37 {
	position: absolute;
	left: 312px;
	top: 472px;
	width: 109px;
	height: 16px;
}

#u37_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 110px;
	height: 17px;
}

#u38 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 109px;
	word-wrap: break-word;
}

#u39 {
	position: absolute;
	left: 375px;
	top: 467px;
	width: 225px;
	height: 25px;
}

#u39_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 225px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u39_input {
	font-family: 'Applied Font';
}

#u40 {
	position: absolute;
	left: 20px;
	top: 507px;
	width: 169px;
	height: 16px;
}

#u40_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u41 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u42 {
	position: absolute;
	left: 118px;
	top: 502px;
	width: 347px;
	height: 25px;
}

#u42_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u42_input {
	font-family: 'Applied Font';
}

#u43 {
	position: absolute;
	left: 20px;
	top: 427px;
	width: 169px;
	height: 16px;
}

#u43_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u44 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u45 {
	position: absolute;
	left: 118px;
	top: 422px;
	width: 347px;
	height: 25px;
}

#u45_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u45_input {
	font-family: 'Applied Font';
}

#u46 {
	position: absolute;
	left: 20px;
	top: 574px;
	width: 150px;
	height: 16px;
}

#u46_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 151px;
	height: 17px;
}

#u47 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	word-wrap: break-word;
}

#u48 {
	position: absolute;
	left: 118px;
	top: 574px;
	width: 347px;
	height: 62px;
}

#u48_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 62px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u48_input {
	font-family: 'Applied Font';
}

#u49 {
	position: absolute;
	left: 20px;
	top: 657px;
	width: 150px;
	height: 16px;
}

#u49_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 151px;
	height: 17px;
}

#u50 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	word-wrap: break-word;
}

#u51 {
	position: absolute;
	left: 118px;
	top: 657px;
	width: 347px;
	height: 78px;
}

#u51_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 78px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u51_input {
	font-family: 'Applied Font';
}

#u52 {
	position: absolute;
	left: 118px;
	top: 753px;
	width: 100px;
	height: 25px;
}

#u52_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 25px;
	text-align: center;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u52_input {
	font-family: 'Applied Font';
}

#u53 {
	position: absolute;
	left: 20px;
	top: 538px;
	width: 169px;
	height: 16px;
}

#u53_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 17px;
}

#u54 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 169px;
	word-wrap: break-word;
}

#u55 {
	position: absolute;
	left: 118px;
	top: 533px;
	width: 347px;
	height: 25px;
}

#u55_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 347px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u55_input {
	font-family: 'Applied Font';
}

#u0_state1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 621px;
	height: 791px;
	visibility: hidden;
	-ms-overflow-x: hidden;
	overflow-x: hidden;
	-ms-overflow-y: hidden;
	overflow-y: hidden;
}

#u56 {
	position: absolute;
	left: 4px;
	top: 1px;
	width: 116px;
	height: 27px;
}

#u56_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117px;
	height: 28px;
}

#u57 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 112px;
	word-wrap: break-word;
}

#u58 {
	position: absolute;
	left: 130px;
	top: 1px;
	width: 116px;
	height: 27px;
}

#u58_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117px;
	height: 28px;
}

#u59 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 112px;
	word-wrap: break-word;
}

#u60 {
	position: absolute;
	left: 245px;
	top: 23px;
	width: 335px;
	height: 10px;
}

#u60_start {
	position: absolute;
	left: -4px;
	top: -5px;
	width: 14px;
	height: 20px;
}

#u60_end {
	position: absolute;
	left: 326px;
	top: -5px;
	width: 14px;
	height: 20px;
}

#u60_line {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 335px;
	height: 1px;
}

#u61 {
	position: absolute;
	left: 188px;
	top: 134px;
	width: 32px;
	height: 16px;
}

#u61_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 33px;
	height: 17px;
}

#u62 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	visibility: hidden;
	white-space: nowrap;
}

#u63 {
	position: absolute;
	left: 0px;
	top: 23px;
	width: 130px;
	height: 10px;
}

#u63_start {
	position: absolute;
	left: -4px;
	top: -5px;
	width: 14px;
	height: 20px;
}

#u63_end {
	position: absolute;
	left: 121px;
	top: -5px;
	width: 14px;
	height: 20px;
}

#u63_line {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 130px;
	height: 1px;
}

#u64 {
	position: absolute;
	left: 30px;
	top: 90px;
	width: 205px;
	height: 148px;
}

#u64_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 206px;
	height: 149px;
}

#u65 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 205px;
	word-wrap: break-word;
}

#u66 {
	position: absolute;
	left: 245px;
	top: 70px;
	width: 100px;
	height: 16px;
}

#u67 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u66_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u68 {
	position: absolute;
	left: 340px;
	top: 70px;
	width: 100px;
	height: 16px;
}

#u69 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u68_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u70 {
	position: absolute;
	left: 245px;
	top: 100px;
	width: 100px;
	height: 16px;
}

#u71 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u70_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u72 {
	position: absolute;
	left: 340px;
	top: 100px;
	width: 100px;
	height: 16px;
}

#u73 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u72_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u74 {
	position: absolute;
	left: 245px;
	top: 130px;
	width: 100px;
	height: 16px;
}

#u75 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u74_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u76 {
	position: absolute;
	left: 340px;
	top: 130px;
	width: 100px;
	height: 16px;
}

#u77 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u76_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u78 {
	position: absolute;
	left: 245px;
	top: 164px;
	width: 100px;
	height: 16px;
}

#u79 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u78_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u80 {
	position: absolute;
	left: 340px;
	top: 164px;
	width: 100px;
	height: 16px;
}

#u81 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u80_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u82 {
	position: absolute;
	left: 172px;
	top: 220px;
	width: 66px;
	height: 16px;
}

#u82_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 67px;
	height: 17px;
}

#u83 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	white-space: nowrap;
}

#u84 {
	position: absolute;
	left: 172px;
	top: 264px;
	width: 66px;
	height: 16px;
}

#u84_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 67px;
	height: 17px;
}

#u85 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	white-space: nowrap;
}

#u86 {
	position: absolute;
	left: 245px;
	top: 216px;
	width: 125px;
	height: 25px;
}

#u86_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 125px;
	height: 25px;
	text-align: left;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u86_input {
	font-family: 'Applied Font';
}

#u87 {
	position: absolute;
	left: 248px;
	top: 264px;
	width: 300px;
	height: 16px;
}

#u87_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 301px;
	height: 17px;
}

#u88 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	visibility: hidden;
	word-wrap: break-word;
}

#u89 {
	position: absolute;
	left: 248px;
	top: 264px;
	width: 100px;
	height: 16px;
}

#u90 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u89_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u91 {
	position: absolute;
	left: 330px;
	top: 264px;
	width: 100px;
	height: 16px;
}

#u92 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u91_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u93 {
	position: absolute;
	left: 420px;
	top: 264px;
	width: 100px;
	height: 16px;
}

#u94 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u93_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u95 {
	position: absolute;
	left: 248px;
	top: 310px;
	width: 100px;
	height: 16px;
}

#u96 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u95_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u97 {
	position: absolute;
	left: 248px;
	top: 354px;
	width: 100px;
	height: 16px;
}

#u98 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u97_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u99 {
	position: absolute;
	left: 420px;
	top: 310px;
	width: 100px;
	height: 16px;
}

#u100 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u99_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u101 {
	position: absolute;
	left: 420px;
	top: 354px;
	width: 100px;
	height: 16px;
}

#u102 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u101_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u103 {
	position: absolute;
	left: 330px;
	top: 310px;
	width: 100px;
	height: 16px;
}

#u104 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u103_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u105 {
	position: absolute;
	left: 330px;
	top: 354px;
	width: 100px;
	height: 16px;
}

#u106 {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 82px;
	word-wrap: break-word;
}

#u105_input {
	position: absolute;
	left: -3px;
	top: -2px;
}

#u107 {
	position: absolute;
	left: 80px;
	top: 490px;
	width: 100px;
	height: 25px;
}

#u107_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 25px;
	text-align: center;
	font-family: 'Arial';
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#u107_input {
	font-family: 'Applied Font';
}

.ax_形状 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_文本 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_h1 {
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_h2 {
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_h3 {
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_h4 {
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_h5 {
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_h6 {
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 10px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_图片 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: center;
	line-height: normal;
}

.ax_文本链接 {
	color: #0000FF;
}

.ax_鼠标悬停文本链接 {
	
}

.ax_鼠标按下文本链接 {
	
}

.ax_文本框_单行_ {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: left;
	line-height: normal;
}

.ax_文本框_多行_ {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: left;
	line-height: normal;
}

.ax_下拉列表框 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: left;
	line-height: normal;
}

.ax_列表选择框 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: left;
	line-height: normal;
}

.ax_复选框 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_单选框 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_流程形状 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_树节点 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_html_button {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: center;
	line-height: normal;
}

.ax_hot_spot {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_内部框架 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_动态面板 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_编辑选项 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_中继器 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_表格 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_表格单元 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.ax_菜单 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #000000;
	text-align: center;
	line-height: normal;
}

.ax_水平线 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_垂直线 {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

.ax_connector {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}